@import url (https://fonts.googleapis.com/css?family=Raleway:300);
@import url (https://fonts.googleapis.com/css?family=Lato:400,300italic);

body{
	font-family: 'Lato', 'Heveltica Neue', Helvetica, sans-serif;
	font-weight: 300;
	font-size: 18px;
	background-image: url("../img/background.jpg");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;
	margin-left: 30%;
	margin-right: 20px;
	opacity: 0.9;
}

a {
	text-decoration: none;
}

a:link, a:visited {
	color: #0000AA
}

a:focus, a:hover {
	color: #0000EE
}

header {
	padding: 1em; 
	background-color: #FA5A0F;
	border-bottom: 5px;
	border-bottom-color: #EA4A00;
	color: #FFFFFF;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Raleway', 'Heveltica Neue', Helvetica, sans-serif;
	font-weight: 300;
}

h1 {
	font-size: 300%;
	margin: 0;
}

h2, h3 {
	color: #505050
}

h2 {
	font-size: 150%;
}

h3 {
	font-size: 125%;
}

h5 {
	font-size: 120%;
	color: #EEEEEE;
	margin: 0;
}

section {
	background-image: url(../img/ricepaper_v3.png);
	padding: 1em; 
}

#menu{
	padding: 1em;
	background-color: rgba(207,205,140,0.5);
}

dt {
	font-weight: 400; 
}

dd {
	font-size: 80%;
	font-style: italic;
	margin: 0, 0, 1em, 1em; 
}
#about {
	background-image: url(../img/ricepaper_v3.png);
	opacity: 0.9;
	padding: 1em;
}

footer {
	padding: 1em;
	background-color: #FC892F;
	border-top: 5px;
	border-top-color: #EC791F;
	text-align: right;
	font-size: 80%; 
}